<html xmlns="http://www.w3.org/1999/xhtml" >
<body>
    <form method="post" action="{{CurrentUrl}}">
    <table>
        <tr>
            <th>
                IPAddress
            </th>    
            <th>
                Port
            </th>
        </tr>
        <tr>        
            <td>[[IPAddress]]</td>
            <td>[[Port]]</td>
            
            <td><input name="saveButton" type="submit" value="<!--{{if Status=="Connected"}}-->Disconnect<!--{{else}}-->Connect<!--{{endif}}-->"
                /></td>
        </tr>                            
    </table>
    <!--{{if Status == "Connected"}}-->
    <br />        
        <!--{{ render "browser.htm" }}-->
        <!--{{endif}}-->    
    </form>
</body>
</html>
